<ul class="sidebar-nav">
  {% if user.is_authenticated %}
    <li class="nav-item">
      <span class="nav-link text-info">
        Logged in as: 
        <a href="{% url 'taxi:driver-detail' pk=user.id %}" class="fw-bold">
          {{ user.username }}
        </a>
      </span>
    </li>
  {% endif %}

  <hr>

  <li><a href="{% url 'taxi:index' %}">Home page</a></li>
  <li><a href="{% url 'taxi:manufacturer-list' %}">Manufacturers</a></li>
  <li><a href="{% url 'taxi:car-list' %}">Cars</a></li>
  <li><a href="{% url 'taxi:driver-list' %}">Drivers</a></li>

  <hr>

  {% if user.is_authenticated %}
    <li>
      <form action="{% url 'logout' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-link nav-link" style="display: inline; cursor: pointer;">
          Logout
        </button>
      </form>
    </li>
  {% else %}
    <li><a href="{% url 'login' %}">Login</a></li>
  {% endif %}
</ul>